SECRET=
FLASK_ENV=

# *** Database options:
  # *** Production requireds
  # *** Development optional
  # *** Unused when running pytest
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=


# *** Database connection only options
  # *** used to connect on external or pre made databases
  # *** ignored by docker-compose generated database
# ! "DATABASE_HOST" is ignored by docker-compose setup
# ! "DATABASE_HOST" is only usefull when you built a database by youself
DATABASE_HOST=
DATABASE_PORT=
TEST_DATABASE_PORT=


# *** Vite options, docker only. Local .env for webapp and admin without docker
VITE_API_URL=http://localhost:5000
VITE_VISUALIZER_URL=http://localhost:5006
