body {
  background-color: burlywood;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tools-bar {
  display: flex;
  align-items: center;
  background-color: red;
  width: 100%;
  padding: 16px;
  gap: 8;
}

.tools-bar .divider {
  height: 20px;
  width: 1px;
  margin: 0 16px;
  background-color: #000;
}

.tools-bar .change-trace input {
  width: 64px;
}

.plot-content {
  background-color: aqua;
  width: 100%;
}

.shot-status {
  background-color: blueviolet;
  width: 100%;
  padding: 8px;
}