[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bokeh = "*"
numpy = "==1.25.1"
seismicio = "==0.0.22"

[dev-packages]
ipython = "*"
icecream = "*"

[requires]
python_version = "3"

[scripts]
serve = "python -m seismic_webviz"
