alembic==1.11.1
appdirs==1.4.4
blinker==1.6.2
bokeh==3.0.3
click==8.1.3
contourpy==1.0.7
Flask==2.3.2
Flask-Cors==3.0.10
Flask-Migrate==4.0.4
Flask-SQLAlchemy==3.0.5
fs==2.4.16
greenlet==2.0.2
gunicorn==20.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
Mako==1.2.4
MarkupSafe==2.1.2
numpy==1.24.2
packaging==23.0
pandas==1.5.3
Pillow==9.4.0
python-dateutil==2.8.2
pytz==2022.7.1
PyYAML==6.0
seismicio==0.0.11
six==1.16.0
SQLAlchemy==2.0.19
tornado==6.2
typing_extensions==4.7.1
Werkzeug==2.3.6
xyzservices==2022.9.0
