[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bokeh = "*"
numpy = "*"
seismicio = "==0.0.22"

[dev-packages]
ipython = "*"
ipykernel = "*"

[requires]
python_version = "3.*"

[scripts]
serve = "bokeh serve core/main.py"
